In [5]:
from calendar import c
from codecs import ignore_errors
from sys import set_coroutine_origin_tracking_depth
from tokenize import Ignore
from webbrowser import get
#from turtle import clear
from numpy import append
import pandas as pd
import pandas
import yfinance as yf
import datetime
import os
import string
from bs4 import BeautifulSoup
from functools import partial, reduce
import plotly.graph_objects as go
import re
import json
import csv
from io import StringIO
import requests
import pandas_datareader.data as web
from pandas_datareader import data

In [6]:
# url templates
url_stats = 'https://finance.yahoo.com/quote/{}/key-statistics?p={}'
url_profile = 'https://finance.yahoo.com/quote/{}/profile?p={}'
url_financials = 'https://finance.yahoo.com/quote/{}/financials?p={}'
url_cashflow = 'https://finance.yahoo.com/quote/{}/cash-flow?p={}'

In [7]:
ticker_kode = "AALI.JK"

In [10]:
ian = {}
ian['no'] = 1
ian['nama']= 'adrian'

In [11]:
ian

{'no': 1, 'nama': 'adrian'}

In [16]:
balance_sheet = pd.DataFrame.from_dict(ian,orient='index')

In [13]:
balance_sheet

           0
no         1
nama  adrian

In [19]:
float(1.792506e+12)

1792506000000.0

In [21]:
3076530.0 + 4305915.0

7382445.0